In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('homicidios.xlsx', sheet_name=None)

In [3]:
data_hechos = data['HECHOS']
data_victimas = data['VICTIMAS']

In [4]:
data_hechos.head(3)

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO

In [5]:
# Drop GeoPandas info not used

data_hechos.drop('XY (CABA)', axis=1, inplace=True)

In [6]:
# Show rows completley unusable

data_hechos[data_hechos.isnull().all(axis=1)]

Empty DataFrame
Columns: [ID, N_VICTIMAS, FECHA, AAAA, MM, DD, HORA, HH, LUGAR_DEL_HECHO, TIPO_DE_CALLE, Calle, Altura, Cruce, Dirección Normalizada, COMUNA, pos x, pos y, PARTICIPANTES, VICTIMA, ACUSADO]
Index: []

In [7]:
# Show rows where at least one value is NaN

data_hechos[data_hechos.isnull().any(axis=1)]

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Altura,Cruce,Dirección Normalizada,COMUNA,pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,PIEDRA BUENA AV.,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,"PAZ, GRAL. AV.",NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,ENTRE RIOS AV.,2034.0,NaN,ENTRE RIOS AV. 2034,1,-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,LARRAZABAL AV.,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,SAN JUAN AV.,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691,2021-0093,1,2021-12-13,2021,12,13,17:10:00,17,AV. RIESTRA Y MOM,AVENIDA,RIESTRA AV.,NaN,MOM,RIESTRA AV. y MOM,7,-58.43353773,-34.64561636,MOTO-AUTO,MOTO,AUTO
692,2021-0094,1,2021-12-20,2021,12,20,01:10:00,1,AU DELLEPIANE Y LACARRA,AUTOPISTA,"DELLEPIANE, LUIS, TTE. GRAL.",NaN,LACARRA AV.,"DELLEPIANE, LUIS, TTE. GRAL. y LACARRA AV.",9,-58.46739825,-34.65117757,MOTO-AUTO,MOTO,AUTO
693,2021-0095,1,2021-12-30,2021,12,30,00:43:00,0,AV. GAONA Y TERRADA,AVENIDA,GAONA AV.,NaN,TERRADA,GAONA AV. y TERRADA,11,-58.47293407,-34.61984745,MOTO-CARGAS,MOTO,CARGAS
694,2021-0096,1,2021-12-15,2021,12,15,10:30:00,10,AV. EVA PERON 4071,AVENIDA,"PERON, EVA AV.",4071.0,NaN,"PERON, EVA AV. 4071",9,-58.47066794,-34.65021673,AUTO-CARGAS,AUTO,CARGAS
695,2021-0097,1,2021-11-18,2021,11,18,06:10:00,6,PADRE CARLOS MUJICA 709,CALLE,PADRE CARLOS MUJICA,709.0,NaN,PADRE CARLOS MUGICA 709,1,-58.37976155,-34.58679619,BICICLETA-AUTO,BICICLETA,AUTO

In [8]:
# Show rows where at least one of 'Altura' or 'Cruce' value is NaN

data_hechos[['Altura', 'Cruce']][data_hechos[['Altura', 'Cruce']].isnull().any(axis=1)]

     Altura                                Cruce
0       NaN  FERNANDEZ DE LA CRUZ, F., GRAL. AV.
1       NaN                  DE LOS CORRALES AV.
2    2034.0                                  NaN
3       NaN             VILLEGAS, CONRADO, GRAL.
4       NaN              SAENZ PE?A, LUIS, PRES.
..      ...                                  ...
691     NaN                                  MOM
692     NaN                          LACARRA AV.
693     NaN                              TERRADA
694  4071.0                                  NaN
695   709.0                                  NaN

[696 rows x 2 columns]

In [9]:
# Remaining columns with NaN after excluding 'Altura' and 'Cruce'

columns_to_exclude = ['Altura', 'Cruce']
df_except_specific_column = data_hechos.drop(columns=columns_to_exclude)

df_except_specific_column.count()

ID                       696
N_VICTIMAS               696
FECHA                    696
AAAA                     696
MM                       696
DD                       696
HORA                     696
HH                       696
LUGAR_DEL_HECHO          696
TIPO_DE_CALLE            696
Calle                    695
Dirección Normalizada    688
COMUNA                   696
pos x                    696
pos y                    696
PARTICIPANTES            696
VICTIMA                  696
ACUSADO                  696
dtype: int64

In [10]:
# Delete rows were no location is given
rows_to_delete = df_except_specific_column[df_except_specific_column.isnull().any(axis=1)].index

data_hechos.drop(index=rows_to_delete, inplace=True)
data_hechos

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Altura,Cruce,Dirección Normalizada,COMUNA,pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,PIEDRA BUENA AV.,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,"PAZ, GRAL. AV.",NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,ENTRE RIOS AV.,2034.0,NaN,ENTRE RIOS AV. 2034,1,-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,LARRAZABAL AV.,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,SAN JUAN AV.,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691,2021-0093,1,2021-12-13,2021,12,13,17:10:00,17,AV. RIESTRA Y MOM,AVENIDA,RIESTRA AV.,NaN,MOM,RIESTRA AV. y MOM,7,-58.43353773,-34.64561636,MOTO-AUTO,MOTO,AUTO
692,2021-0094,1,2021-12-20,2021,12,20,01:10:00,1,AU DELLEPIANE Y LACARRA,AUTOPISTA,"DELLEPIANE, LUIS, TTE. GRAL.",NaN,LACARRA AV.,"DELLEPIANE, LUIS, TTE. GRAL. y LACARRA AV.",9,-58.46739825,-34.65117757,MOTO-AUTO,MOTO,AUTO
693,2021-0095,1,2021-12-30,2021,12,30,00:43:00,0,AV. GAONA Y TERRADA,AVENIDA,GAONA AV.,NaN,TERRADA,GAONA AV. y TERRADA,11,-58.47293407,-34.61984745,MOTO-CARGAS,MOTO,CARGAS
694,2021-0096,1,2021-12-15,2021,12,15,10:30:00,10,AV. EVA PERON 4071,AVENIDA,"PERON, EVA AV.",4071.0,NaN,"PERON, EVA AV. 4071",9,-58.47066794,-34.65021673,AUTO-CARGAS,AUTO,CARGAS
695,2021-0097,1,2021-11-18,2021,11,18,06:10:00,6,PADRE CARLOS MUJICA 709,CALLE,PADRE CARLOS MUJICA,709.0,NaN,PADRE CARLOS MUGICA 709,1,-58.37976155,-34.58679619,BICICLETA-AUTO,BICICLETA,AUTO

In [11]:
# Showing duplicated rows

data_hechos[data_hechos.duplicated()]

Empty DataFrame
Columns: [ID, N_VICTIMAS, FECHA, AAAA, MM, DD, HORA, HH, LUGAR_DEL_HECHO, TIPO_DE_CALLE, Calle, Altura, Cruce, Dirección Normalizada, COMUNA, pos x, pos y, PARTICIPANTES, VICTIMA, ACUSADO]
Index: []

In [12]:
data_hechos['HORA'].describe()

count          688
unique         371
top       14:00:00
freq            10
Name: HORA, dtype: object

In [13]:
data_hechos[data_hechos['HORA']=='SD']

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Altura,Cruce,Dirección Normalizada,COMUNA,pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
518,2019-0103,1,2019-12-18,2019,12,18,SD,SD,"PAZ, GRAL. AV. Y GRIVEO",GRAL PAZ,"PAZ, GRAL. AV.",NaN,GRIVEO,"PAZ, GRAL. AV. y GRIVEO",11,-58.52169422,-34.59471640,MOTO-MOTO,MOTO,MOTO

In [14]:
# Store row 518 and later drop it from data df
row_no_hora = data_hechos[data_hechos['HORA']=='SD']
row_no_hora

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Altura,Cruce,Dirección Normalizada,COMUNA,pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
518,2019-0103,1,2019-12-18,2019,12,18,SD,SD,"PAZ, GRAL. AV. Y GRIVEO",GRAL PAZ,"PAZ, GRAL. AV.",NaN,GRIVEO,"PAZ, GRAL. AV. y GRIVEO",11,-58.52169422,-34.59471640,MOTO-MOTO,MOTO,MOTO

In [15]:
# Drop no location available row

data_hechos.drop(518, inplace=True)

In [16]:
data_hechos['FECHA'].dt.date

0      2016-01-01
1      2016-01-02
2      2016-01-03
3      2016-01-10
4      2016-01-21
          ...
691    2021-12-13
692    2021-12-20
693    2021-12-30
694    2021-12-15
695    2021-11-18
Name: FECHA, Length: 687, dtype: object

In [17]:
# Concatenate 'FECHA' (date) and 'HORA' (time) columns
data_hechos['FECHA-HORA'] = data_hechos['FECHA'].dt.strftime('%Y-%m-%d') + ' ' + data_hechos['HORA'].astype(str)
data_hechos['FECHA-HORA']

0      2016-01-01 04:00:00
1      2016-01-02 01:15:00
2      2016-01-03 07:00:00
3      2016-01-10 00:00:00
4      2016-01-21 05:20:00
              ...
691    2021-12-13 17:10:00
692    2021-12-20 01:10:00
693    2021-12-30 00:43:00
694    2021-12-15 10:30:00
695    2021-11-18 06:10:00
Name: FECHA-HORA, Length: 687, dtype: object

In [18]:
# Replace 'SD' with NaN in the entire DataFrame

data_hechos.replace('SD', pd.NA, inplace=True)
data_victimas.replace('SD', pd.NA, inplace=True)

In [19]:
data_hechos[['pos x', 'pos y']].info()

<class 'pandas.core.frame.DataFrame'>
Index: 687 entries, 0 to 695
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   pos x   687 non-null    object
 1   pos y   687 non-null    object
dtypes: object(2)
memory usage: 16.1+ KB

In [20]:
# Rename 'pos x' to 'long' and 'pos y' to 'lat'

data_hechos.rename(columns={'pos x': 'long'}, inplace=True)
data_hechos.rename(columns={'pos y': 'lat'}, inplace=True)

In [21]:
# Convert datatypes to numeric

data_hechos['long'] = pd.to_numeric(data_hechos['long'], errors='coerce')
data_hechos['lat'] = pd.to_numeric(data_hechos['lat'], errors='coerce')

In [22]:
# There are 4 rows with no position to plot

data_hechos.loc[data_hechos['lat'].isna() | data_hechos['long'].isna()][['lat', 'long']]

     lat  long
139  NaN   NaN
176  NaN   NaN
256  NaN   NaN
559  NaN   NaN

In [23]:
# Calculate the mean values of the columns excluding NaN values

mean_value_lat = data_hechos['lat'].mean()
mean_value_long = data_hechos['long'].mean()

# Fill NaN values in both columns with their respective means (for later plotted maps wont diverge from center)

data_hechos['lat'].fillna(mean_value_lat, inplace=True)
data_hechos['long'].fillna(mean_value_long, inplace=True)

In [24]:
# Check result

data_hechos.loc[data_hechos['lat'].isna() | data_hechos['long'].isna()][['lat', 'long']]

Empty DataFrame
Columns: [lat, long]
Index: []

In [25]:
data_hechos['TIPO_DE_CALLE'].value_counts(dropna=False)

TIPO_DE_CALLE
AVENIDA      429
CALLE        135
GRAL PAZ      64
AUTOPISTA     59
Name: count, dtype: int64

In [26]:
data_hechos.loc[343]

ID                                  2018-0069
N_VICTIMAS                                  1
FECHA                     2018-07-04 00:00:00
AAAA                                     2018
MM                                          7
DD                                          4
HORA                                 21:45:00
HH                                         21
LUGAR_DEL_HECHO          Córdoba Av. 2215\n\n
TIPO_DE_CALLE                         AVENIDA
Calle                             CORDOBA AV.
Altura                                 2215.0
Cruce                                     NaN
Dirección Normalizada        CORDOBA AV. 2215
COMUNA                                      2
long                               -58.398971
lat                                -34.599549
PARTICIPANTES             BICICLETA-PASAJEROS
VICTIMA                             BICICLETA
ACUSADO                             PASAJEROS
FECHA-HORA                2018-07-04 21:45:00
Name: 343, dtype: object

In [27]:
data_hechos[data_hechos['ID']=='2018-0069']

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,long,lat,PARTICIPANTES,VICTIMA,ACUSADO,FECHA-HORA
343,2018-0069,1,2018-07-04,2018,7,4,21:45:00,21,Córdoba Av. 2215\n\n,AVENIDA,...,2215.0,NaN,CORDOBA AV. 2215,2,-58.398971,-34.599549,BICICLETA-PASAJEROS,BICICLETA,PASAJEROS,2018-07-04 21:45:00

In [28]:
data_hechos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 687 entries, 0 to 695
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     687 non-null    object
 1   N_VICTIMAS             687 non-null    int64
 2   FECHA                  687 non-null    datetime64[ns]
 3   AAAA                   687 non-null    int64
 4   MM                     687 non-null    int64
 5   DD                     687 non-null    int64
 6   HORA                   687 non-null    object
 7   HH                     687 non-null    int64
 8   LUGAR_DEL_HECHO        687 non-null    object
 9   TIPO_DE_CALLE          687 non-null    object
 10  Calle                  687 non-null    object
 11  Altura                 129 non-null    float64
 12  Cruce                  524 non-null    object
 13  Dirección Normalizada  687 non-null    object
 14  COMUNA                 687 non-null    int64
 15  long                   687 non-null    float64
 16  lat                    687 non-null    float64
 17  PARTICIPANTES          687 non-null    object
 18  VICTIMA                678 non-null    object
 19  ACUSADO                666 non-null    object
 20  FECHA-HORA             687 non-null    object
dtypes: datetime64[ns](1), float64(3), int64(6), object(11)
memory usage: 134.2+ KB

In [29]:
data_victimas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_hecho             717 non-null    object
 1   FECHA                717 non-null    datetime64[ns]
 2   AAAA                 717 non-null    int64
 3   MM                   717 non-null    int64
 4   DD                   717 non-null    int64
 5   ROL                  706 non-null    object
 6   VICTIMA              708 non-null    object
 7   SEXO                 711 non-null    object
 8   EDAD                 664 non-null    object
 9   FECHA_FALLECIMIENTO  649 non-null    object
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 56.1+ KB

In [48]:
# Specify the CSV file path

csv_file_path_hechos = "homicidios_hechos.csv"
csv_file_path_victimas = "homicidios_victimas.csv"

# Write each DataFrame to a separate CSV file

data_hechos.to_csv(csv_file_path_hechos)
data_victimas.to_csv(csv_file_path_victimas)